<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand">
          <img src="{{ '/styles/images/logo.jpg' | prepend: site.baseurl }}" height="60px" width="60px"/>
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">分类</a>
        </li>
        <li>
          <a href="{{ '/special/album/2017-1/index.html' | prepend: site.baseurl }}">寒假生活剪影</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>
